{% extends 'blog/base.html' %}

{% block contenido %}

        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img height="200" class="card-img-top" src="../../static/banner.png" alt="..." /></a>
                        <div class="card-body">

                            <h2 class="card-title">Sobre el blog:</h2>
                            <p class="card-text">Descripción: blog de video juegos, utilizando Python y Django.</p>
                            <p class="card-text">Este blog fue desarrollado por: Erwin Orellana, en Curso de Python (Coderhouse)</p>
                            <p class="card-text">Noviembre, 2022.</p>

                        </div>
                    </div>
             
                    <!-- Nested row for non-featured blog posts-->
                                    
                </div>

{% endblock %}
