<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog Gamer - Reseñas y Noticias de Videojuegos</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'blog/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/blog">{{configuracion.nombre_blog}}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/blog">Home</a></li>
                        <!--<li class="nav-item"><a class="nav-link" href="#!">About</a></li>-->
                        <!--<li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>-->
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/blog">Blog</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">{{configuracion.titulo_principal}}</h1>
                    <p class="lead mb-0">{{configuracion.subtitulo_principal}}</p>
                </div>
            </div>
        </header>


        <!-- Page content-->
        {% block contenido %}
        {% endblock %}

                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Buscar juego</div>
                        <div class="card-body">
                            <div class="input-group">

                                <form action="/blog/buscarj" method="post">
                                {% csrf_token %}
                                <input class="form-control" type="text" placeholder="Nombre de juego..." aria-label="Nombre de juego..." aria-describedby="button-search" 
                                name="nombre_juego" maxlength="30" required id="id_nombre_juego"/>
                                <br>
                                <button class="btn btn-primary" id="button-search" type="submit">Go!</button>
                                </form>

                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Último juego ingresado</div>
                        <div class="card-body">{{ultimo_juego.nombre_juego}}</div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Insertar contenido</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="/blog/juego_insert">Juegos</a></li>
                                        <li><a href="/blog/desarrollador_insert">Desarrollador</a></li>
                                        <li><a href="/blog/noticias_insert">Noticias</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!"></a></li>
                                        <li><a href="#!"></a></li>
                                        <li><a href="#!"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Desarrollado por &copy; {{configuracion.construido_por}}</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
