
{% extends 'blog/base.html' %}

{% block contenido %}

        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://cl.buscafs.com/www.levelup.com/public/uploads/images/767162/767162_1140x516.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{ultima_noticia.fecha}}</div>
                            <h2 class="card-title">{{ultima_noticia.titulo}}</h2>
                            <p class="card-text">{{ultima_noticia.contenido}}</p>
                            <!--<a class="btn btn-primary" href="#!">Read more →</a>-->
                        </div>
                    </div>

                    <!-- Nested row for non-featured blog posts-->
                                    
                </div>

{% endblock %}

 