
{% extends 'blog/base.html' %}

{% block contenido %}

        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <!--<a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>-->
                        <div class="card-body">
                            <div class="small text-muted">Nueva noticia:</div>
                            <h2 class="card-title">Ingrese la nueva noticia</h2>
                            
                            <!--Formulario-->
                            <form action="/blog/noticias_insert" method="post">
                                <br>
                                {% csrf_token %} 
                                {{ form.as_p}}
                                <input type="submit" value="Ingresar" class="btn btn-primary" >
                            </form>
                            
                            <br>
                            <h2 style="color:green">{{msg_exito}}</h2>

                            <!--<a class="btn btn-primary" href="#!">Read more →</a>-->
                        </div>
                    </div>

                    <!-- Nested row for non-featured blog posts-->
                                    
                </div>

{% endblock %}
