
{% extends 'blog/base.html' %}

{% block contenido %}

        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://cl.buscafs.com/www.levelup.com/public/uploads/images/767162/767162_1140x516.jpg" alt="..." /></a>
                        <div class="card-body">
                       
                            <ul>
                                {% for noticia in object_list %}
                                    <li>{{noticia}} 
                                        <a href="{% url 'delete-noticia' noticia.id  %}">Borrar</a>
                                        <a href="{% url 'update-noticia' noticia.id  %}">Actulizar</a>
                                    </li>
                                {% endfor %}
                                </ul>
                            
                                <a href="{% url 'create-noticia'%}">Crear nueva noticia</a>

                        </div>
                    </div>

                    <!-- Nested row for non-featured blog posts-->
                                    
                </div>

{% endblock %}
